@model IEnumerable<DigiPortfoli.Models.Entities.PortfolioInfo>

<div class="row" style="margin-left:100px;margin-top:100px;">
    <div class="col-md-4">
        <div class="row"></div>
        <div class=" col-md-9">
            <input type="text" class="form-control" name="Title" id="Title" placeholder="Your Title">
            <input type="text" class="form-control" name="Description" id="Description" placeholder="Description">
            


        </div>
        <div class=" col-md-3">
            <button type="button" id="submit" onclick="SaveData()">Save</button>

        </div>
    </div>
    <div class="col-md-7">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                  
                    <th></th>
                </tr>
            </thead>
            <tbody class="cat_body">
                @*  @foreach (var item in Model)
                {
                <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                </tr>
                *@
            </tbody>
        </table>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<script>

    $(document).ready(function () {
        $('#Id').val(0);
        $('#Title').val('');
        $('#Description').val('');
        
        getPortfolioList();
    });
    function SaveData() {
        // Call Web API to get a list of Portfolio
        if ($('#Title').val() == '' || $('#Title').val() == undefined ||
            $('#Description').val() == '' || $('#Description').val() == undefined ) {
            alert("Please Insert Valid Input!!");
        } else {
            $.ajax({
                url: '../PortfolioInfoes/AddorUpdate/',
                type: 'POST',
                dataType: 'json',
                data: {

                    Id: $('#Id').val(),
                    Title: $('#Title').val(),
                    Description: $('#Description').val(),
                 
                },
                success: function (data) {
                    debugger
                    if (data.Status == "success") {
                        alert("Data Inserted Successfully!");
                        getPortfolioList();
                        $('#Id').val(0);
                        $('#Title').val('');
                        $('#Description').val('');
                       

                    } else {
                        alert(data.msg);
                    }
                },
                error: function (request, message, error) {
                    debugger
                    handleException(request, message, error);
                }
            });
        }

    }


    // Get all Portfolio to display
    function getPortfolioList() {
        // Call Web API to get a list of Portfolio
        $.ajax({
            url: '../PortfolioInfoes/GetAllPortfolio/',
            type: 'GET',
            dataType: 'json',
            success: function (employees) {
                debugger
                $('.cat_row').remove();
                var cat_rows = "";
                for (var i = 0; i < employees.length; i++) {

                    cat_rows = cat_rows + '<tr class="cat_row" ondblclick="updatedata(' + employees[i].Id + ',\'' + employees[i].Title + '\',\'' + employees[i].Description + '\')"><td>' + employees[i].Title + '</td><td>' + employees[i].Description + '</td><td><button type="button" onclick="DeletePortfolio(' + employees[i].Id + ')" >Delete</button></td></tr>';
                }

                $('.cat_body').append(cat_rows);

            },
            error: function (request, message, error) {
                debugger
                alert(message);
            }
        });
    }

    function updatedata(id, title, description) {
        $('#Id').val(id);
        $('#Title').val(title);
        $('#Description').val(description);
        
    }


    function DeletePortfolio(id) {
        // Call Web API to get a list of Portfolio
        if (isNaN(id) || id == 0) {
            alert("Please Select Valid Data!!");
        } else {
            $.ajax({
                url: '../PortfolioInfoes/DeletePortfolio/',
                type: 'POST',
                dataType: 'json',
                data: { Id: id },
                success: function (data) {
                    debugger
                    if (data.Status == "success") {
                        alert("Data Deleted Successfully!");
                        getPortfolioList();


                    } else {
                        alert(data.msg);
                    }
                },
                error: function (request, message, error) {
                    debugger
                    handleException(request, message, error);
                }
            });
        }

    }

</script>

