 <!-- ======= About Section ======= -->
<main id="main">
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
                <p id="Description">
 
                </p>
        </div>

        <div class="row">
                <div class="col-lg-4">
                    <img src="~/content/assets/img/profile-img.jpg" class="img-fluid" alt="" />
                @*<img src="~/Content/assets/img/profile-img.jpg" >*@
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>ASP .NET Developer</h3>
               @* <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>*@
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Name:</strong> <span id="Name"></span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Birthdate:</strong> <span id="Birthdate"></span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Profession:</strong> <span id="Profession"></span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Address:</strong> <span id="Address"></span></li>
                               
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Qualification:</strong> <span id="Qualification"></span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Mobile:</strong> <span id="Mobile"></span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span id="Email"></span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span id="Age"></span></li>
                           
                        </ul>
                    </div>
                </div>
           
            </div>
        </div>

    </div>
</section><!-- End About Section -->
</main>



<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script>

    $(document).ready(function () {
        getAboutPageData();
    });



    // Get all Category to display
    function getAboutPageData() {
        // Call Web API to get a list of Category
        $.ajax({
            url: '../Home/GetAboutPageData/',
            type: 'GET',
            dataType: 'json',
            success: function (aboutpagedata) {
                debugger
                $('#Description').append(aboutpagedata.Description);
                $('#Name').append(aboutpagedata.Name);
                $('#Birthdate').append(aboutpagedata.Birthdate);
                $('#Profession').append(aboutpagedata.Profession);
                $('#Address').append(aboutpagedata.Address);
                $('#Qualification').append(aboutpagedata.Qualification);
                $('#Mobile').append(aboutpagedata.Mobile);
                $('#Email').append(aboutpagedata.Email);
                $('#Age').append(aboutpagedata.Age);

                //var profession = " <span class='typed' >" + aboutpagedata.Profession + "</span>"
                //$('#profession').append(profession);
        
            },
            error: function (request, message, error) {
                debugger
                alert(message);
            }
        });
    }
</script>