<main id="main">
    <!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Resume</h2>
                <p>Welcome to my resume section! I am an innovative and passionate ASP .NET developer with a strong educational background in Computer Science and Engineering. Through my professional experience and internships, I have gained valuable skills in software development and web technologies. I thrive in collaborative environments and have a track record of delivering high-quality projects. Take a closer look at my education and professional journey to discover how I can contribute to your organization's success</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Anik Biswas</h4>
                    <p><em>Innovative and passionate Asp .Net Developer</em></p>
                    <ul>
                        <li>Mohakhali,Dhaka</li>
                        <li>(+880) 1521332348</li>
                        <li>anik58267@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>BSc in Computer Science and Engineering </h4>
                    <h5>2016 - 2021</h5>
                    <p><em>Shahjalal University of Science and Technology</em></p>
                    <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
                </div>
                <div class="resume-item">
                    <h4>Higher Seconday</h4>
                    <h5>2013 - 2015</h5>
                    <p><em>Government Laboratory High School</em></p>
                       </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Asp .Net Developer Intern(TechEureka)</h4>
                    <h5>1st July,2023  - Present</h5>
                    <p><em>Banani,Dhaka </em></p>
                        <ul>
                            <li>Collaborate with the team to contribute to the design, development, and implementation of various software applications.</li>
                            <li>Assist in task delegation among team members and provide guidance on project-related matters.</li>
                            <li>Participate in the evaluation and review process of software materials to ensure their quality and accuracy.</li>
                            <li>Contribute to the effective management of project budgets, ranging from small to medium-scale projects.</li>
                        </ul>

                </div>
                <div class="resume-item">
                    <h4>Web Developer Intern(PIPILIKA)</h4>
                    <h5>2017 - 2018</h5>
                    <p><em>Sylhet,Bangladesh</em></p>
                    <ul>
                        <li>Designed and developed some features of PIPILIKA website.</li>
                        <li>Assists up to 5 projects or tasks at a given time while under pressure</li>
                        <li>Did research and developed of given task</li>
                        <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->
</main>