<html>

    <head>
    <title>Salman F Rahman</title>
    </head>
    <body>

    <h1> Salman F Rahman</h1>
    <hr />
    <div style="display:inline-flex">
        <div style="width:70%; height:100%">

            <section>
                <h2>Introduction</h2>
                <p>
                Salman Fazlur Rahman (born 23 May 1951) is a
                    Bangladeshi businessman, adviser to the <a style="text-decoration:none" href="https://en.wikipedia.org/wiki/Prime_Minister_of_Bangladesh">Prime Minister of Bangladesh</a> , and a member of the <a style="text-decoration:none" href="https://en.wikipedia.org/wiki/Jatiya_Sangsad">Jatiya Sangsad.</a>
                    Currently, he is holding the rank of a cabinet minister 
                and serving as the Private Industry and Investment Adviser 
                to Bangladesh Prime Minister Sheikh Hasina. Earlier, 
                he served as the private sector development affairs adviser to her. 
                He was ranked 1685th on the list of billionaires in the world published 
                by Beijing-based Hurun Gobal in 2017. He is the vice chairman of 
                Beximco Group, one of the largest conglomerates in Bangladesh.
                He was the president of several trade bodies including 
                Association of Television Channel Owners (ATCO).
                </p>

            </section>
            <hr />
            <section>
            <h2>Early life</h2>
            <p>Salman Fazlur Rahman was born on 23 May 1951 to a 
                Bengali Muslim family in Dohar, Dhaka District.
                    His father, Fazlur Rahman, was a state minister of <a style="text-decoration:none;color:red" href="https://en.wikipedia.org/wiki/Pakistan">Pakistan.</a>
                    His mother, Syeda Fatina, was a descendant of the Dewan 
                family of Haibatnagar from her father's side.[8] Salman F 
                Rahman is married to Syeda Rubaba Rahman and has a son named
                Ahmed Shayan Fazlur Rahman. He passed the Higher Secondary 
                Examination from Notre Dame College, Dhaka and was admitted 
                to the Physics Department of University of Dhaka in 1968.[9] 
                Later, he received graduation from Karachi University.[9]</p>
           </section>
           <hr />
           <section>
               <h2>Career</h2>
               <p>
                Rahman and his older brother, Sohail F Rahman, started operating a family-owned jute factory in 1966. The government nationalized the factory in 1972. They established the Bangladesh Export and Import Company Limited (Beximco Group) in 1972 and started exporting seafood and crushed bones to the European countries and import medicines in exchange of the exports of seafood and crushed bones.[10] Beximco Group is one of Bangladesh 's leading conglomerates with subsidiaries including BexTex, Beximco Pharmaceuticals, and Shinepukur Ceramics. Beximco employs more than 70,000 people worldwide and is the largest employer in the private sector in Bangladesh.[11]

                    In 1976, <a style="color:blueviolet" href="https://en.wikipedia.org/wiki/Pakistan">Rahman brothers established Beximco Pharmaceuticals.</a> Later on, this company was listed as the first Bangladeshi company at the London's Alternative Investment Market.[12][6] The company is listed in Aim of London Stock Exchange[13] and also accredited by many foreign regulatory authorities including the US FDA for its export operations.[14] In addition, it is the first Bangladeshi company to export medicines to Canada.[15]

                In 1982, the brothers partnered with the Dubai-based Galadari Brothers Group to establish the AB Bank.[16] In 1985, Salman Fazlur Rahman sold his stake to other partners. Subsequently, the brothers bought 30% stake in IFIC Bank. Rahman became chairman of the bank in 2010[17] and was re-elected in 2016.[18]

                Rahman owns the Bangla News Channel Independent Television (Bangladesh). He owned the English Daily The Independent (Bangladesh newspaper). He is the Chairman of the Board of Editors of the Daily Independent.[19] Salman Rahman's name has been associated with multiple stockmatket scams in Bangladesh[20] and much of his $1.3bn wealth[21] is considered controversially achieved.
               </p>
           </section>
           <hr />

           <section>
            <h2>Politics</h2>
            <p>
                Rahman entered politics in the mid-1990s and founded a political party under the banner Samriddhya Bangladesh Andolan. Later he joined the Bangladesh Awami League. He was the Bangladesh Awami League nominee from a constituency in Dhaka-1: Dohar Upazila in Bangladeshi general election in 2001.[19]

                Currently, he is the Private Sector Development Adviser to President of Bangladesh Awami League and Prime Minister of Bangladesh, Sheikh Hasina.[22][23]

                Rahman contested from Dhaka-1 constituency (Dohar and Nawabganj Upazila) in the 2018 parliamentary election and received 3,04,797 votes from 178 centres of the constituency while the nearest rival Salma Islam received 38,017 votes.[24] He contested the election with the Awami League's symbol boat and secured 86.5% of the votes of the constituency, consisting of the Dohar and Nawabganj upazilas.[25]

                He was appointed as the private industry and investment advisor to Prime Minister Sheikh Hasina on 15 January 2019.[26] Without any financial incentives, the post retains the rank of minister.[27]
            </p>
           </section>
           <hr />

           <section>
            <h2>Association</h2>
            <p>
                Rahman headed the Federation of Bangladesh Chambers of Commerce & Industries (FBCCI) from 1994 to 1996.[19] He was a director of the Bangladesh Securities and Exchange Commission and Dhaka Stock Exchange.[28] Rahman was the former president of Association of Television Channel Owners (ATCO)[29] and LPG Operators Association of Bangladesh (LOAB).[30] He is the Chairman of the Board of Governor of Bangladesh Enterprise Institute and the sporting club Abahani Limited Dhaka.[31][32][33][34]
            </p>
           </section>
           <hr />

           <section>
            <h2>Personal life</h2>
            <p>
                Salman F Rahman’s is from Dohar Upazila of Dhaka district.[35] He is son of Fazlur Rahman and Syeda Fatina Rahman. His son Shayan F Rahman is also involved in the family business. His son is married to the daughter of Morshed Khan.[36]
            </p>
           </section>
           <hr />

           <section>
            <h2>Controversies</h2>
            <p>
                A cable from United States ambassador in Dhaka leaked by WikiLeaks in 2007, alleged that Rahman is one of the biggest bank loan defaulters in Bangladesh.[37] Rahman was arrested on 4 February 2007 on charges of crime and corruption in 11 cases during the 2006-08 Bangladeshi political crisis. On 20 August 2008, the High Court of Bangladesh granted him bail in the case of bank forgery.[38] Rahman along with his elder brother was acquitted of 1996 stock market manipulation.[39] In the incident of 2010-11 share market scam, a probe body headed by Banker Khondkar Ibrahim Khaled also pointed their finger at Salman F Rahman involvement.[40]
            </p>
           </section>
           <hr />

        </div>

        <div style="width:30%; height:100%;margin-left:5%">  
            <img src="~/image/salman_fazlur_rahman.jpg" />

        </div>

        </div>
    </body>

</html>