@model DigiPortfoli.Models.Entities.SocialMediaInfo

@{
    Layout = "~/Views/Shared/_LayoutWithNavbar.cshtml";
}

<h1>Create</h1>

<h4>SocialMediaInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonalInfoId" class="control-label"></label>
                <input asp-for="PersonalInfoId" class="form-control" />
                <span asp-validation-for="PersonalInfoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMediaName" class="control-label"></label>
                <input asp-for="SocialMediaName" class="form-control" />
                <span asp-validation-for="SocialMediaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMediaURL" class="control-label"></label>
                <input asp-for="SocialMediaURL" class="form-control" />
                <span asp-validation-for="SocialMediaURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@